<%= include('includes/top.tmpl') %>

    <div class="main">
        <!--div class="delayed-image-load" data-src="<%= pathStatic %>/<%= vocab_dir %>/img/320/.jpg" data-width="320" style="width: 100%;"></div-->

		<div id="sr-flow-overall" class="sr-data-section">

			<h2 class="sr-cta"><%= timeline_cta %></h2>
			<h2 class="sr-cta--mobile"><%= timeline_cta_mobile %></h2>

			<div class="sr-chart-key">
				<h3 class="sr-key-dates"><span class="sr-key-ident"></span><span class="sr-key-label"><%= timeline_key1 %></span></h3>
				<h3 class="sr-flow"><span class="sr-key-ident"></span><span class="sr-key-label"><%= timeline_key2 %></span></h3>
			</div>

			<ul id="sr-key-dates-links" class="sr-key-events">
				<li id="sr-key-date-link-0" class="sr-key-date-link-0 sr-nav-button">
					<a href="#sr-key-event-0" data-event="0"><span><%= num_1 %></span></a>
				</li>
				<li id="sr-key-date-link-1" class="sr-key-date-link-1 sr-nav-button">
					<a href="#sr-key-event-1" data-event="12"><span><%= num_2 %></span></a>
				</li>
				<li id="sr-key-date-link-2" class="sr-key-date-link-2 sr-nav-button">
					<a href="#sr-key-event-2" data-event="14"><span><%= num_3 %></span></a>
				</li>
				<li id="sr-key-date-link-3" class="sr-key-date-link-3 sr-nav-button">
					<a href="#sr-key-event-3" data-event="17"><span><%= num_4 %></span></a>
				</li>
				<li id="sr-key-date-link-4" class="sr-key-date-link-4 sr-nav-button">
					<a href="#sr-key-event-4" data-event="21"><span><%= num_5 %></span></a>
				</li>
				<li id="sr-key-date-link-5" class="sr-key-date-link-5 sr-nav-button">
					<a href="#sr-key-event-5" data-event="24"><span><%= num_6 %></span></a>
				</li>
				<li id="sr-key-date-link-6" class="sr-key-date-link-6 sr-nav-button">
					<a href="#sr-key-event-6" data-event="30"><span><%= num_7 %></span></a>
				</li>
				<li id="sr-key-date-link-7" class="sr-key-date-link-7 sr-nav-button">
					<a href="#sr-key-event-7" data-event="34"><span><%= num_8 %></span></a>
				</li>
			</ul>

			<div id="sr-timeline-chart" class="sr-timeline-chart">
				<img id="sr-timeline-placeholder" src="/news/special/2014/newsspec_7103/content/<%= vocab_dir %>/img/320/overall_chart_<%= vocab_dir %>.gif" alt="" />
			</div>

			<div id="sr-key-event-0" class="sr-key-event">
				<h3>
					<span class="sr-date"><%= chapter_1_date %></span><span class="sr-join"><%= chapter_colon %> </span>
					<span class="sr-title"><%= chapter_1_title %></span>
				</h3>
				<p>
						<%= chapter_1_text %>
				</p>
				<div class="sr-image-holder sr-hide">
					<div class="delayed-image-load" data-src="<%= pathStatic %>/<%= vocab_dir %>/img/320/1.jpg" data-width="320" style="width: 100%;"></div>
				</div>
				<a class="sr-top-link" href="#sr-flow-overall">Back to key dates</a>
			</div>

			<div id="sr-key-event-1" class="sr-key-event">
				<h3>
					<span class="sr-date"><%= chapter_2_date %></span><span class="sr-join"><%= chapter_colon %> </span>
					<span class="sr-title"><%= chapter_2_title %></span>
				</h3>
				<p>
						<%= chapter_2_text %>
				</p>
				<div class="sr-image-holder sr-hide">
					<div class="delayed-image-load" data-src="<%= pathStatic %>/<%= vocab_dir %>/img/320/2.jpg" data-width="320" style="width: 100%;"></div>
				</div>
				<a class="sr-top-link" href="#sr-flow-overall">Back to key dates</a>
			</div>

			<div id="sr-key-event-2" class="sr-key-event">
				<h3>
					<span class="sr-date"><%= chapter_3_date %></span><span class="sr-join"><%= chapter_colon %> </span>
					<span class="sr-title"><%= chapter_3_title %></span>
				</h3>
				<p>
						<%= chapter_3_text %>
				</p>
				<div class="sr-image-holder sr-hide">
					<div class="delayed-image-load" data-src="<%= pathStatic %>/<%= vocab_dir %>/img/320/3.jpg" data-width="320" style="width: 100%;"></div>
				</div>
				<a class="sr-top-link" href="#sr-flow-overall">Back to key dates</a>
			</div>

			<div id="sr-key-event-3" class="sr-key-event">
				<h3>
					<span class="sr-date"><%= chapter_4_date %></span><span class="sr-join"><%= chapter_colon %> </span>
					<span class="sr-title"><%= chapter_4_title %></span>
				</h3>
				<p>
						<%= chapter_4_text %>
				</p>
				<div class="sr-image-holder sr-hide">
					<div class="delayed-image-load" data-src="<%= pathStatic %>/<%= vocab_dir %>/img/320/4.jpg" data-width="320" style="width: 100%;"></div>
				</div>
				<a class="sr-top-link" href="#sr-flow-overall">Back to key dates</a>
			</div>

			<div id="sr-key-event-4" class="sr-key-event">
				<h3>
					<span class="sr-date"><%= chapter_5_date %></span><span class="sr-join"><%= chapter_colon %> </span>
					<span class="sr-title"><%= chapter_5_title %></span>
				</h3>
				<p>
						<%= chapter_5_text %>
				</p>
				<div class="sr-image-holder sr-hide">
					<div class="delayed-image-load" data-src="<%= pathStatic %>/<%= vocab_dir %>/img/320/5.jpg" data-width="320" style="width: 100%;"></div>
				</div>
				<a class="sr-top-link" href="#sr-flow-overall">Back to key dates</a>
			</div>

			<div id="sr-key-event-5" class="sr-key-event">
				<h3>
					<span class="sr-date"><%= chapter_6_date %></span><span class="sr-join"><%= chapter_colon %> </span>
					<span class="sr-title"><%= chapter_6_title %></span>
				</h3>
				<p>
						<%= chapter_6_text %>
				</p>
				<div class="sr-image-holder sr-hide">
					<div class="delayed-image-load" data-src="<%= pathStatic %>/<%= vocab_dir %>/img/320/6.jpg" data-width="320" style="width: 100%;"></div>
				</div>
				<a class="sr-top-link" href="#sr-flow-overall">Back to key dates</a>
			</div>

			<div id="sr-key-event-6" class="sr-key-event">
				<h3>
					<span class="sr-date"><%= chapter_7_date %></span><span class="sr-join"><%= chapter_colon %> </span>
					<span class="sr-title"><%= chapter_7_title %></span>
				</h3>
				<p>
						<%= chapter_7_text %>
				</p>
				<div class="sr-image-holder sr-hide">
					<div class="delayed-image-load" data-src="<%= pathStatic %>/<%= vocab_dir %>/img/320/7.jpg" data-width="320" style="width: 100%;"></div>
				</div>
				<a class="sr-top-link" href="#sr-flow-overall">Back to key dates</a>
			</div>

			<div id="sr-key-event-7" class="sr-key-event">
				<h3>
					<span class="sr-date"><%= chapter_8_date %></span><span class="sr-join"><%= chapter_colon %> </span>
					<span class="sr-title"><%= chapter_8_title %></span>
				</h3>
				<p>
						<%= chapter_8_text %>
				</p>

				<div class="sr-image-holder sr-hide">
					<div class="delayed-image-load" data-src="<%= pathStatic %>/<%= vocab_dir %>/img/320/8.jpg" data-width="320" style="width: 100%;"></div>
				</div>
				<a class="sr-top-link" href="#sr-flow-overall">Back to key dates</a>
			</div>
		</div>

			<ul id="sr-destinations" class="sr-destinations">
				<li class="sr-lebanon sr-destination" data-destination="lebanon">
					<div class="sr-chart sr-chart-overall"></div>

					<h3><%= graph_country1 %></h3>
					<span class="sr-fig">1,044,898</span>
				</li>

				<li class="sr-jordan sr-destination" data-destination="jordan">
					<div class="sr-chart sr-chart-overall"></div>

					<h3><%= graph_country2 %></h3>
					<span class="sr-fig">594,258</span>
				</li>

				<li class="sr-turkey sr-destination" data-destination="turkey">
					<div class="sr-chart sr-chart-overall"></div>

					<h3><%= graph_country3 %></h3>
					<span class="sr-fig">735,864</span>
				</li>

				<li class="sr-iraq sr-destination" data-destination="iraq">
					<div class="sr-chart sr-chart-overall"></div>

					<h3><%= graph_country4 %></h3>
					<span class="sr-fig">223,113</span>
				</li>

				<li class="sr-egypt sr-destination" data-destination="egypt">
					<div class="sr-chart sr-chart-overall"></div>

					<h3><%= graph_country5 %></h3>
					<span class="sr-fig">136,807</span>
				</li>

				<li class="sr-north-africa sr-destination" data-destination="north-africa">
					<div class="sr-chart sr-chart-overall"></div>

					<h3><%= graph_country6 %></h3>
					<span class="sr-fig">19,697</span>
				</li>
			</ul>


		<div id="sr-thousands-separator" class="sr-hide"><%= thousands_separator %></div>

    </div>

<%= include('includes/bottom.tmpl') %>